@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.app {
  height: 100vh;
}

.app__right {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
  margin-left: 16rem;
}

.header > h1 {
  text-align: center;
}

.btn__container {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.coordinate {
  position: relative;
  border: 1px solid #aaa;
  cursor: pointer;
}

.coordinate__tag {
  visibility: hidden;
  position: absolute;
  background-color: white;
  border: 1px solid #eee;
  font-size: 0.8rem;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.coordinate:hover > .coordinate__tag {
  visibility: visible;
}

.configuration {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.configuration__axis,
.configuration__algorithms {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  position: relative;
}

.header > .selected__points {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #eee;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.5), 0 2px 4px -2px rgb(0 0 0 / 0.5);
  color: black;
  width: 16rem;
  height: 100vh;
  text-align: center;
  padding: 0.5rem;
  z-index: 50;
}

.map__2d {
  flex: 1;
  display: grid;
}
